body {
  background-color: #fafafa
}

input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #0a0a0a;
  padding: 5px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer .card {
  width: 200px;
}

.createItemContainer:first-child {
  margin-bottom: 40px;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.createItemContainer input {}

.createItemContainer button {
  width: 100px;
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

ul, li {
  background: none;
  list-style: none;
}

li p, li a{
  cursor: pointer;
}